
<h2> por capital</h2>
<hr>

<div class="row">
    <div class="col">
       <app-pais-input
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias( $event)"
        placeholder = "Buscar capital ...."
       ></app-pais-input>

    </div>



</div>

<hr *ngIf="capitales.length > 0" >
<br>
<div *ngIf="errorBusqueda"
     class="alert alert-danger m-2">

    No se ha encontrado nada con el término: {{ termino }}

</div>

<div *ngIf="capitales.length > 0" class="row">
    <div class="col">
       <app-pais-tabla [paises]="capitales"></app-pais-tabla>
    </div>
</div>